PORT=3000
LOCATION_NAME=Warszawa
LOCATION_LATITUDE=52.2297
LOCATION_LONGITUDE=21.0122
TIME_ZONE=Europe/Warsaw
COUNTRY_CODE=PL
METEOALARM_EMMA_ID=PL1465
# METEOALARM_EDR_TOKEN=
# CUSTOM_FOOTER_MESSAGE=
